{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                <p>created: {{ post.created_date }}</p>
                {% if post.is_draft == True %}
                    <a class="btn btn-primary" href="{% url 'publish_post' pk=post.pk %}">Publish</a>
                    <a class="btn btn-danger" href="{% url 'remove_post' pk=post.pk%}">Delete</a>
                {% endif %}
            </div>
            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
            <p>isDraft = TRUE</p>
        </div>
    {% endfor %}
{% endblock %}